*{
	margin:0px;
	padding:0px;
}
#header
{	
	background:#5DB2FF url('bg.png') top left repeat-x;
	height:52px
}

#map
{
	position:absolute;
	top:52px;
	left:0px;
	bottom:0px;
	right:0px;
}
.inputs {
	background: #fff;
	border: 1px solid #0061b4;
	float: left;
	margin-left:15px;
	margin-top: 7px;
	padding: 3px 5px;
	width: 359px;
	-moz-box-shadow: #ffffff 0 0 2px 0px;
	-webkit-box-shadow: #ffffff 0 0 2px 0px;
	box-shadow: #ffffff 0 0 2px 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.inputs input[type=text] {
	background: none;
	border: none;
	outline: none;
	margin-top: 2px;	
	padding: 5px 5px;
	position: relative;
	width: 330px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.inputs form {
	background: url('search.png') 2px 6px no-repeat;
	background-size: 18px auto;
	float: left;
	padding-left: 20px;
}

.typeahead {
	background-color: #fff;
}

.typeahead:focus {
	border: 2px solid #0097cf;
}

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-dropdown-menu {
	width: 422px;
	margin-top: 5px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	
}
.twitter-typeahead .tt-dropdown-menu {
	left: -25px !important;
	right: 0 !important;
}
.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0097cf;
	
}

.tt-suggestion p {
	margin: 0;
}
em{color:red}